<%-include("../../views/partials/user/header.ejs")%>

<aside id="colorlib-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(images/bannerrr.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 offset-sm-3 text-center slider-text">
                            <div class="slider-text-inner"></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<div class="colorlib-product">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
                <h2>Best Sellers</h2>
            </div>
        </div>
				<% for(let i = 0; i < products.length; i += 4) { %>
					<div class="row row-pb-md">
						<% for(let j = i; j < i + 4 && j < products.length; j++) { %>
							<div class="col-lg-3 mb-4 text-center">
								<div class="product-entry border">
									<a href="/productDetails?id=<%= products[j]._id %>" class="prod-img">
										<img src="/uploads/<%= products[j].productImage[0] %>" class="img-fluid" alt="<%= products[j].name %>">
									</a>
									<div class="desc">
										<h2>
											<a href="/productDetails?id=<%= products[j]._id %>">
												<%= products[j].name %>
											</a>
										</h2>
										<% if (products[j].salePrice > 0) { %>
											<span class="price">
												<del>₹<%= products[j].regularPrice.toLocaleString('en-IN') %></del> ₹<%= products[j].salePrice.toLocaleString('en-IN') %>
											</span>
										<% } else { %>
											<span class="price">₹<%= products[j].regularPrice.toLocaleString('en-IN') %></span>
										<% } %>
									</div>
								</div>
							</div>
						<% } %>
					</div>
				<% } %>
				

        <div class="row">
            <div class="col-md-12 text-center">
                <p><a href="/shop" class="btn btn-primary btn-lg">Shop All Products</a></p>
            </div>
        </div>
    </div>
</div>

<%-include("../../views/partials/user/footer.ejs")%>
