<%- include("../../views/partials/user/header") %>
  <title>Order Placed</title>
  <style>

    h1 {
      text-align: center;
      color: #6A1E55;
    }
    p {
      font-size: 18px;
      margin: 10px 0;
    }

    .btn-shop {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #6A1E55;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  .btn-shop:hover {
    background-color: #6A1E55;
  }
  </style>
</head>


  <body>
    <div class="container" style="width: 80%; margin: 50px auto; padding: 20px; border: 1px solid #ddd; border-radius: 8px; background-color: #f9f9f9;">
      <h1>Order Placed Successfully!</h1>
      <p><strong>Order ID:</strong> <%= orderId %></p>
      <p><strong>Order Date:</strong> <%= orderDate %></p>
            <p><strong>Payment Method:</strong> <%= paymentMethods || 'Not Available' %></p>

            
      <p><strong>Status:</strong> <%= status %></p><br>
      <h3 >Discount: ₹<span id="discount"><%= discount%></span></h3>
            <h3>Delivery Charge: ₹60</h3>
            <h3>Total Price: ₹<span id="totalPrice"><%= totalPrice%></span></h3>
            <h3>Final Total Price: ₹<span id="finalTotalPrice"><%= finalTotalPrice %></span></h3>



      <a href="/shop" class="btn-shop">Continue with Shop</a>
    </div>
  </body>
  <script>
           
function discountAmount(){
    const totalPrice = parseFloat(document.getElementById('totalPrice').textContent);

    const selectedCoupon = document.querySelector('input[name="selectedCoupon"]:checked');
    if (selectedCoupon) {
        const couponName = selectedCoupon.value;
        const discount = parseFloat(selectedCoupon.getAttribute('data-discount')); // Ensure it's a number
        document.getElementById('couponCode').value = couponName; // Set the coupon name in the input box
        document.getElementById('discountAmount').textContent = discount; // Show the discount amount
        
        document.getElementById('finalTotalPrice').textContent =totalPrice-discount+60; 

        closeModal();
    } else {
        alert('Please select a coupon!');
    }
}


  </script>
<%- include("../../views/partials/user/footer") %>
</html>
