<%- include("../../views/partials/user/header") %>
  <title>Order Placed</title>
  <style>

    h1 {
      text-align: center;
      color: #6A1E55;
    }
    p {
      font-size: 18px;
      margin: 10px 0;
    }

    .btn-shop {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #6A1E55;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  .btn-shop:hover {
    background-color: #6A1E55;
  }
  </style>
</head>


  <body>
    <div class="container" style="width: 80%; margin: 50px auto; padding: 20px; border: 1px solid #ddd; border-radius: 8px; background-color: #f9f9f9;">
      <h1>Order Placed Successfully!</h1>
      <p><strong>Order ID:</strong> <%= orderId %></p>
      <p><strong>Order Date:</strong> <%= orderDate %></p>
            <p><strong>Payment Method:</strong> <%= paymentMethods || 'Not Available' %></p>

      <p><strong>Total Price:</strong> ₹<%=totalPrice %></p>
      <p><strong>Status:</strong> <%= status %></p>

      <a href="/shop" class="btn-shop">Continue with Shop</a>
    </div>
  </body>
<%- include("../../views/partials/user/footer") %>
</html>
